<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505205446847-obmnr8ln7ujk9rcbbm3vlo92m10cdlsg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505205446847-obmnr8ln7ujk9rcbbm3vlo92m10cdlsg</string>
	<key>API_KEY</key>
	<string>AIzaSyBY3YYe0l6NDGNaHbtN8UwFCuSbZEnM-bY</string>
	<key>GCM_SENDER_ID</key>
	<string>505205446847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.greatr</string>
	<key>PROJECT_ID</key>
	<string>greatr-ca5f3</string>
	<key>STORAGE_BUCKET</key>
	<string>greatr-ca5f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505205446847:ios:626c14da9bf5301ea24e0a</string>
</dict>
</plist>